:root {
  --main-bg-color:#ebf0ff;
  --main-bg-dark: #141417;
  --white-color: #ffffff;
  --white-color-alpha-1: #ffffff91;
  --red-color: #f87171;

  --box-shadow-1: 0px 0px 2px hsla(0,0%,60%,0.1),0px 4px 12px hsla(0,0%,60%,0.3);

  --transition-time-s: 0.15s; 
}
